# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = rafael moreira
	email = rafael@rafaelmoreira.org
[alias]
	po = push origin master
[github]
	user = rafamoreira
